<a href="https://colab.research.google.com/github/AnhVietPham/Deep-Learning/blob/main/SentimentAnalysis1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Using the IMDB Moview review dataset provided by Keras
from keras.datasets import imdb
(x_train, y_train), (x_test, y_test) = imdb.load_data(path="imdb.npz", seed=113)
print (x_train.shape, y_train.shape)
print (x_train[0], y_train[0])

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb.npz
17465344/17464789 [==============================] - 0s 0us/step

<string>:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/datasets/imdb.py:159: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_train, y_train = np.array(xs[:idx]), np.array(labels[:idx])

(25000,) (25000,)
[1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, 458, 4468, 66, 3941, 4, 173, 36, 256, 5, 25, 100, 43, 838, 112, 50, 670, 22665, 9, 35, 480, 284, 5, 150, 4, 172, 112, 167, 21631, 336, 385, 39, 4, 172, 4536, 1111, 17, 546, 38, 13, 447, 4, 192, 50, 16, 6, 147, 2025, 19, 14, 22, 4, 1920, 4613, 469, 4, 22, 71, 87, 12, 16, 43, 530, 38, 76, 15, 13, 1247, 4, 22, 17, 515, 17, 12, 16, 626, 18, 19193, 5, 62, 386, 12, 8, 316, 8, 106, 5, 4, 2223, 5244, 16, 480, 66, 3785, 33, 4, 130, 12, 16, 38, 619, 5, 25, 124, 51, 36, 135, 48, 25, 1415, 33, 6, 22, 12, 215, 28, 77, 52, 5, 14, 407, 16, 82, 10311, 8, 4, 107, 117, 5952, 15, 256, 4, 31050, 7, 3766, 5, 723, 36, 71, 43, 530, 476, 26, 400, 317, 46, 7, 4, 12118, 1029, 13, 104, 88, 4, 381, 15, 297, 98, 32, 2071, 56, 26, 141, 6, 194, 7486, 18, 4, 226, 22, 21, 134, 476, 26, 480, 5, 144, 30, 5535, 18, 51, 36, 28, 224, 92, 25, 104, 4, 226, 65, 16, 38, 1334, 88, 12, 16, 283, 5, 16, 4472, 113, 103, 32, 15, 16, 5345, 19, 178, 32] 1

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/datasets/imdb.py:160: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_test, y_test = np.array(xs[idx:]), np.array(labels[idx:])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Unzip dataset
!unzip "/content/drive/My Drive/SyncPC/Deep learning/IMDB Dataset.csv.zip"

Archive:  /content/drive/My Drive/SyncPC/Deep learning/IMDB Dataset.csv.zip
  inflating: IMDB Dataset.csv

In [ ]:
import pandas as pd
data_pd = pd.read_csv("IMDB Dataset.csv")

In [ ]:
data_pd.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
from keras.preprocessing.text import text_to_word_sequence

text_to_word_sequence("I am going to school")

['i', 'am', 'going', 'to', 'school']

In [ ]:
from keras.preprocessing.text import text_to_word_sequence
#Using emotional dictionary
positive_words = ["good", "nice", "great", "interesting", "like", "wonderful","best","love"]
count_correct = 0
for review,sentiment in data_pd.values:
  words = text_to_word_sequence(review)
  result = "negative"
  for word in words:
    if word in positive_words:
      result = "positive"
  if sentiment == result:
    count_correct+=1
    

print("Acc:",count_correct/len(data_pd))

Acc: 0.5331

In [ ]:
#Using bag of word vectors
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(data_pd["review"].values)

In [ ]:
len(vectorizer.get_feature_names())

101895

In [ ]:
vectorizer = CountVectorizer(max_features=200)
X = vectorizer.fit_transform(data_pd["review"].values)
X.toarray()

array([[0, 1, 0, ..., 3, 0, 1],
       [0, 1, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [0, 2, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 1, 0, 0]])

In [ ]:
data_pd["label"] = data_pd["sentiment"].map({'positive': 1, 'negative': 0})
data_pd.head()

                                              review sentiment  label
0  One of the other reviewers has mentioned that ...  positive      1
1  A wonderful little production. <br /><br />The...  positive      1
2  I thought this was a wonderful way to spend ti...  positive      1
3  Basically there's a family where a little boy ...  negative      0
4  Petter Mattei's "Love in the Time of Money" is...  positive      1

In [ ]:
y = data_pd["label"].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=42, stratify=y)

import numpy as np

print (np.sum(y)/len(y))
print (np.sum(y_train)/len(y_train))

print (X_train.shape,X_test.shape)

0.5
0.5
(15000, 200) (35000, 200)

In [ ]:
from sklearn import svm
clf = svm.SVC(gamma='scale')
clf.fit(X_train,y_train) 

#Training dense

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_test_predict = clf.predict(X_test)

In [ ]:

print("Acc:",(1 - np.sum(np.abs(y_test_predict- y_test))/len(y_test_predict)))

Acc: 0.7626

In [ ]:
#using n-gram
vectorizer = CountVectorizer(ngram_range=(1,2),stop_words=["the","that"])
X = vectorizer.fit_transform(data_pd["review"].values)
len(vectorizer.get_feature_names())

2626968